In [7]:
# calling module for using mysql with Python
import pymysql

# calling db
hm_db = pymysql.connect(
   user = 'root',  #user name
   passwd = '1234', #password
   host = '127.0.0.1', #host address
   db = 'hmdb', #name of db
   charset = 'utf8' #using utf8 since we use Korean
)

In [2]:
# creating cursor for interacting with connected DB
cursor = hm_db.cursor()

sql_01 = "select P.product_id from product as P where P.price > 35000 and product_id in (select I.product_id from item_cart as I where I.quantity > 2);"
cursor.execute(sql_01)
result_01 = cursor.fetchall()
print(result_01)

((74022,),)

In [3]:
cursor = hm_db.cursor()
sql_02 = "select U.name  from user as U where U.gender = 'M' and U.user_id = (select I.user_id from item_cart as I where I.product_id = '372');"
cursor.execute(sql_02)
result_02 = cursor.fetchall()
print(result_02)

(('호현호',),)

In [4]:
cursor = hm_db.cursor()
sql_03 = "select * from product where not exists (select product_id from product where price > 1000000000);"
cursor.execute(sql_03)
result_03 = cursor.fetchall()
print(result_03)

((372, 'black wallet', 100000, 'wallets', 'for business men', 'W384248'), (34892, 'students bag', 40000, 'bags', 'for students', 'B939309'), (45924, 'red shoes', 30000, 'shoes', 'for women', 'K898290'), (74022, 'micky mouse hoodie', 60000, 'hoodies', 'disney merch', 'H383024'), (88392, 'khaki shorts', 20000, 'shorts', 'military style', 'S839329'))

In [5]:
cursor = hm_db.cursor()
sql_04 = "select * from product where exists (select * from discount where discount_percent > 50);"
cursor.execute(sql_04)
result_04 = cursor.fetchall()
print(result_04)

((372, 'black wallet', 100000, 'wallets', 'for business men', 'W384248'), (34892, 'students bag', 40000, 'bags', 'for students', 'B939309'), (45924, 'red shoes', 30000, 'shoes', 'for women', 'K898290'), (74022, 'micky mouse hoodie', 60000, 'hoodies', 'disney merch', 'H383024'), (88392, 'khaki shorts', 20000, 'shorts', 'military style', 'S839329'))

In [10]:
# executing procedure
cursor = hm_db.cursor()
cursor.callproc('sum_of_user')
result_05 = cursor.fetchall()
print(result_05)

((7,),)

In [9]:
# executing function
cursor = hm_db.cursor()
func = "select insert_user(%s,%s,%s,%s,%s)"
result_06 = cursor.execute(func, ('hihi','Lisa','F','서울시 성북구','821048807780'))
result_06 = cursor.fetchall()
sql_07 = cursor.execute("select * from User;")
result_07 = cursor.fetchall()
print(result_07)

((1, 'hhshin', '신현호', 'M', '경기도 수원시 영통구', '01000000000'), (2, 'gunnoo', '이건우', 'M', '서울특별시 마포구', '01000000001'), (3, 'Kindess', '박친절', 'F', '대구광역시 달성구', '01000000011'), (4, 'James98', '호현호', 'M', '서울특별시 중구', '01000000111'), (5, 'hello02', '우건우', 'M', '서울특별시 성북구', '01011000000'), (6, 'gugu', 'Jame', 'F', '수원시 영통구', '0104880778000'), (7, 'hihi', 'Lisa', 'F', '서울시 성북구', '821048807780'))

In [11]:
# 신상품 추가
cursor = hm_db.cursor()
sql = "insert into product values(%s,%s,%s,%s,%s,%s)"
values = (382,'blue_jacket',49000,'jackets','for men','JK102476')
cursor.execute(sql,values)
hm_db.commit()
cursor.fetchall()

#상품 열람
cursor = hm_db.cursor()
sql = "select * from product;"
cursor.execute(sql)
cursor.fetchall()

((372, 'black wallet', 100000, 'wallets', 'for business men', 'W384248'),
 (382, 'blue_jacket', 49000, 'jackets', 'for men', 'JK102476'),
 (34892, 'students bag', 40000, 'bags', 'for students', 'B939309'),
 (45924, 'red shoes', 30000, 'shoes', 'for women', 'K898290'),
 (74022, 'micky mouse hoodie', 60000, 'hoodies', 'disney merch', 'H383024'),
 (88392, 'khaki shorts', 20000, 'shorts', 'military style', 'S839329'))

In [12]:
# 장바구니 담기
cursor = hm_db.cursor()
sql = "insert into item_cart values(%s, %s, %s,%s)"
values = (255,1,382,1)
cursor.execute(sql,values)
hm_db.commit()
cursor.fetchall()

# 장바구니 열람
cursor = hm_db.cursor()
sql = "select * from item_cart"
cursor.execute(sql)
cursor.fetchall()

((200, 1, 45924, 1),
 (210, 2, 34892, 2),
 (220, 3, 88392, 3),
 (230, 2, 372, 4),
 (240, 7, 74022, 5),
 (255, 1, 382, 1))

In [13]:
# 상품 제거
cursor = hm_db.cursor()
sql = "delete from item_cart where product_id = %s" % (34892)
cursor.execute(sql)
cursor.fetchall

# 장바구니 열람
cursor = hm_db.cursor()
sql = "select * from item_cart"
cursor.execute(sql)
cursor.fetchall()

((200, 1, 45924, 1),
 (220, 3, 88392, 3),
 (230, 2, 372, 4),
 (240, 7, 74022, 5),
 (255, 1, 382, 1))

In [14]:
# 수량 변경
cursor = hm_db.cursor()
sql = "update item_cart set quantity= %s where product_id = %s;" % (3, 382)
cursor.execute(sql)
cursor.fetchall()

# 장바구니 열람
cursor = hm_db.cursor()
sql = "select * from item_cart"
cursor.execute(sql)
cursor.fetchall()

((200, 1, 45924, 1),
 (220, 3, 88392, 3),
 (230, 2, 372, 4),
 (240, 7, 74022, 5),
 (255, 3, 382, 1))

In [15]:
# order_items
cursor = hm_db.cursor()
sql = "insert into order_items values(%s,%s);" % (7676,382)
cursor.execute(sql)
hm_db.commit()
cursor.fetchall()

# order_details 작성
cursor = hm_db.cursor()
sql = "insert into order_details values(%s,%s,%s,%s,%s)" % (8787, 382, 49000*3, 1, 7676)
cursor.execute(sql)
hm_db.commit()
cursor.fetchall()

# order detail 열람
cursor = hm_db.cursor()
sql = "select * from order_details"
cursor.execute(sql)
cursor.fetchall()

((8787, 382, 147000, 1, 7676),)

In [16]:
# payment_details 작성
cursor = hm_db.cursor()
sql = "Insert into payment_details values(3535,3,'HM','paid','KR00',8787)"
cursor.execute(sql)
hm_db.commit()
cursor.fetchall()

# payment_details 열람
cursor = hm_db.cursor()
sql = "select * from payment_details"
cursor.execute(sql)
hm_db.commit()
cursor.fetchall()

((3535, 3, 'HM', 'paid', 'KR00', 8787),)